<h1>Vehicles Data</h1>

<input type="text" [(ngModel)]="term" (keyup)="filter()" placeholder="Search Vehicle">

<select [(ngModel)]="column">
    <option>Vehicle</option>
    <option>color</option>
    <option>cost</option>
    <option>fuel</option>
</select>

<select [(ngModel)]="order">
    <option>asc</option>
    <option>desc</option>
</select>

<button (click)="sort()">Sort</button>

<select [(ngModel)]="limit">
    <option>10</option>
    <option>20</option>
    <option>30</option>
    <option>40</option>
    <option>50</option>
    <option>60</option>
    <option>70</option>
    
</select>

<select [(ngModel)]="page">
    <option>1</option>
    <option>2</option>
    <option>3</option>
    <option>4</option>
    <option>5</option>
    <option>6</option>
    <option>7</option>
</select>

<button (click)="pagination()">Pagination</button>



<table class="table table-primary">
    <thead>
        <tr>
            <th>S No</th>
            <th>Vehicle Name</th>
            <th>Color</th>
            <th>Cost</th>
            <th>Fuel</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let vehicle of vehicles; let i=index">
            <td>{{i+1}}</td>
            <td>{{vehicle.Vehicle}}</td>
            <td>{{vehicle.color}}</td>
            <td>{{vehicle.cost}}</td>
            <td>{{vehicle.fuel}}</td>
            <td>
                <button (click)="delete(vehicle.id)" class="btn btn-danger" >Delete</button>
            </td>
        </tr>
    </tbody>
</table>